#comments.docked {
  position: fixed;
  width: 18% !important;
  min-width: 200px;
  max-width: 500px;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
  padding: 10px;
  top: 0;
  background: white;
  margin-top: 50px;
  transition: width 0.2s ease;
  border: .5px black solid;
}

#comments.docked-right {
  right: 0;
  animation: slideInRight 0.2s ease-out forwards;
}

#comments.slide-out-right {
  animation: slideOutRight 0.2s ease forwards;
}

#comments.docked-left {
  left: 0;
  animation: slideInLeft 0.2s ease-out forwards;
}

#comments.slide-out-left {
  animation: slideOutLeft 0.2s ease forwards;
}

#comments.docked #action-menu {
  display: none;
}

@media (max-width: 1200px) {
  #comments.docked #author-thumbnail {
    display: none;
  }
}

#comments.docked-expand:hover {
  width: 40% !important;
}

#openCommentsBtn {
  width: 35px;
  height: 30px;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#openCommentsBtn:hover {
  background-color: #e5e5e5;
}

#openCommentsBtn>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}