#comments.active {
    position: fixed;
    right: 0;
    width: 18% !important;
    min-width: 200px;
    max-width: 600px;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
    top: 0;
    background: white;
    margin-top: 50px;
    border: .5px black solid;
    transition: width 0.2s ease;
}

#comments.active #action-menu {
    display: none;
}

#comments.active:hover {
    width: 40% !important;
}

#openCommentsBtn {
    margin: 10px;
    padding: 8px 12px;
    background-color: #ff4949;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
    float: right;
    position: relative;
}

#openCommentsBtn:hover {
    background-color: #ff0000;
}